body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #ffffff;
}

:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.container {
  margin: 0 auto;
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}

/* #region header vs logo */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  padding: ;
}
.container.cont-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 149px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo-s {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.burger-btn {
  border: none;
  background-color: transparent;
  padding: 0;
}

.burger-icon {
  color: #2e2f42;
  display: flex;
  justify-content: center;
  align-content: center;
}

.list-link-header {
  display: none;
  align-items: center;
  gap: 40px;
}

.item-list-link-header {
  display: flex;
}

.nadvsim.current {
  position: relative;
  color: #404bbf;
}

.nadvsim.current::after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
}

.nadvsim {
  display: block;
  background-color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nadvsim:hover,
.nadvsim:focus {
  color: #404bbf;
}

.adresa {
  display: none;
}

.list-adress {
}

.adr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-family: "Roboto", sans-serif;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adr:hover,
.adr:focus {
  color: #404bbf;
}

.adr {
  display: inline;
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 120px;
  }

  .burger-btn {
    display: none;
  }
  .list-link-header {
    display: flex;
  }

  .adresa {
    font-style: normal;
    display: flex;
    flex-direction: column;
  }
  .adr {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
  .list-adress {
    padding: 0;
    margin: 0;
  }
}

@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }

  .adresa {
    display: flex;
  }
  .adr {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .list-adress {
    display: flex;

    gap: 40px;
  }
}

/* #region Mobile menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity var(--animation);
  visibility: var(--animation);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.container-mobile-menu {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  /* display: flex;
  flex-direction: column; */
}

.mobile-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.mobile-menu-nav {
  margin-bottom: 168px;
}

.mobile-menu-nav-list {
}
.mobile-menu-nav-list-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-nav-link.current {
  color: #404bbf;
}

.mobile-menu-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color var(--animation);
}

.mobile-menu-contact {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
  margin-bottom: 48px;
}
.mobile-menu-contact-link {
  color: #434455;
  transition: color var(--animation);
}

.mobile-menu-contact-item:not(:last-child) {
  margin-bottom: 24px;
}
.mobile-menu-soc-list {
  display: flex;
  gap: 40px;
}

.mobile-menu-soc-link {
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-menu {
  fill: #fff;
}

.mobile-menu-soc-link:hover,
.mobile-menu-soc-link:focus {
  background-color: #404bbf;
}

.mobile-menu-contact-link:hover,
.mobile-menu-contact-link:focus {
  color: #4d5ae5;
}

.mobile-menu-nav-link:hover,
.mobile-menu-nav-link:focus {
  color: #4d5ae5;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
/*#endregion Mobile menu */

/* #endregion header */

/* #region section 1 effect */

.title {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero/people-office-mob.jpg");

  max-width: 320px;

  margin: 0 auto;
  background-size: cover;
  background-color: #2e2f42;
  /* text-align: center; */
  padding-top: 72px;
  padding-bottom: 72px;

  background-position: center;
  background-repeat: no-repeat;
}

.zagolov {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #fff;
  display: block;
  margin-bottom: 72px;

  margin-left: auto;
  margin-right: auto;
  max-width: 216px;
  text-align: center;
}

.knopka {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  border-radius: 4px;
  border-radius: 4px;
  display: block;

  min-width: 169px;
  border: none;
  margin: auto;

  padding: 16px 32px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.knopka:hover,
.knopka:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .title {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/people-office-tablet.jpg");
    padding-top: 112px;
    padding-bottom: 112px;
    max-width: 768px;
  }

  .zagolov {
    max-width: 496px;
    /* height: 120px; */
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .title {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/people-office-desk.jpg");
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
  }
  .zagolov {
    margin-bottom: 48px;
  }
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/people-office-mob@2x.jpg");
  }
}

@media screen and (min-resolution: 192dpi) and (max-width: 1157px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/people-office-tablet@2x.jpg");
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/people-office-desk@2x.jpg");
  }
}

/* #endregion section 1 effect */

/* #region section 2 our services */

.section-ourservice {
  padding-top: 96px;
  padding-bottom: 96px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.small-text-services {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

/* .item-list-services:not(:last-child) {
  margin-bottom: 72px;
} */

.icon-servieces {
  display: none;
  /* display: flex; */
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  margin-bottom: 8px;
  align-items: center;
  justify-content: center;
}

.icon-svg {
}

.small-text-zag {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.small-text-par {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .section-ourservice {
  }
  .item-list-services {
    width: calc((100% - 24px) / 2);
  }

  .small-text-zag {
    text-align: start;
  }
  .small-text-services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
}

@media screen and (min-width: 1158px) {
  .section-ourservice {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .item-list-services {
    width: calc((100% - 72px) / 4);
  }

  .icon-servieces {
    display: flex;
  }

  .small-text-zag {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .small-text-par {
    font-weight: 400;
  }
}

/* #endregion section 2 our services */

/* #region section 3 our team */

.section-thre {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.header-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.our-team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 72px;
  align-items: center;
  padding: 0;
}

.nezn {
  background-color: #ffffff;
  /* width: calc((100% - 72px) / 4); */
  border-radius: 0 0 4px 4px;
  text-align: center;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.container-team {
  padding: 32px 0;
}

.small-text-zagser {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.small-text-parser {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 8px;
}

.list-icon {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.item-list-icon {
  /* background-color: #404bbf;
  border-radius: 50%; */
}

.icon-team {
  fill: #f4f4fd;
}

.social-links {
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links:hover,
.social-links:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .our-team {
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 24px;
    row-gap: 64px;
  }
}

@media screen and (min-width: 1158px) {
  .section-thre {
    padding: 120px 0;
  }

  .our-team {
    flex-wrap: nowrap;
    gap: 24px;
  }
}

/* #endregion section 3 our team */

/* #region section 4 portfolio */

.section-portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
}

.header-portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.list-portfolio {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.item-list-portfolio {
  /* width: calc((100% - 48px) / 3); */
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.small-text-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.small-text-par-portfolio {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.container-list-portfolio {
  position: relative;
  width: 100%;
  /* height: 300px; */

  overflow: hidden;
}

.overlay-text {
  padding: 40px 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background: #4d5ae5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-list-portfolio:hover .overlay-text {
  transform: translateY(0);
}

.item-list-portfolio:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) {
  .item-list-portfolio {
    width: calc((100% - 24px) / 2);
  }
  .list-portfolio {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 24px;
    row-gap: 72px;
  }
}

@media screen and (min-width: 1158px) {
  .section-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .item-list-portfolio {
    width: calc((100% - 48px) / 3);
  }
  .list-portfolio {
    row-gap: 48px;
  }
}

/* #endregion section 4 portfolio */

/* #region footer */

.foter {
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}

.logo-foterr {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
}

.logo-s-f {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.fot-par {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
  text-align: left;
}

.foter .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.text-foterr {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.container-logo-foter {
  margin-bottom: 72px;
}

.container-text-foter {
  /* width: 208px; */
  margin-bottom: 72px;
}

/* .foter .container {
  display: flex;
  align-items: baseline;
} */

.container-text-foter .social-links:hover,
.container-text-foter .social-links:focus {
  background-color: #31d0aa;
}

.container-text-foter .list-icon {
  gap: 16px;
}

.text-subscribe {
  display: inline-block;
}

.subscribe-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.form-subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 16px;
}

.input-subscribe {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  outline: transparent;
  padding: 8px 16px;
  /* margin-bottom: 16px; */
  opacity: 0.3;
  
}

.input-subscribe::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.subscribe-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;

  background: #4d5ae5;
  cursor: pointer;
}

.subscribe-icon {
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .foter {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .foter .container {
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 108px;
    align-items: flex-start;
    column-gap: 24px;
    row-gap: 72px;
  }

  .container-logo-foter {
    margin-bottom: 0;
}

.container-text-foter {
       margin-bottom: 0;}

  .container-logo-foter,
  .container-text-foter,
  .text-subscribe {
    text-align: left;
  }

  .text-subscribe {
    /* width: 453px; */
  }

  .form-subscribe {
    flex-direction: row;
    column-gap: 24px;
    align-items: baseline;
  }

  .label-subscribe {
    /* align-items: baseline; */
  }

  .input-subscribe {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1158px) {
  .foter {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .foter .container {
    padding-left: 16px;
    flex-wrap: nowrap;
      column-gap: 0;
    row-gap: 0;
  }

     
  .container-logo-foter {
    margin-right: 120px;
    margin-bottom: 0px;
  }

  .container-text-foter {
    margin-bottom: 0px;
  }

  .text-subscribe {
    margin-left: auto;
  }
.input-subscribe {
  opacity: 1;
}

}

/* #endregion footer */

/* #region Modal window */

.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fcfcfc;
  border-radius: 4px;
  width: 288px;
  min-height: 623px;
  /* padding: 24px; */
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 16px 24px 16px;
}

.icon-overlay-close {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  display: flex;

  border-radius: 50%;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-overlay {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-overlay-close:hover,
.icon-overlay-close:focus {
  background-color: #404bbf;
  border: none;
}

.icon-overlay-close:hover svg {
  fill: #fff;
}
.icon-overlay-close:focus svg {
  fill: #fff;
}

.icon-overlay:hover,
.icon-overlay:focus {
  fill: #fff;
}

/* .icon-overlay:hover {
  fill: #fff;
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
} */

.title-overlay {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.form {
  /* display: flex;
  flex-direction: column; */
}

.input-wraper {
  margin-bottom: 8px;
}

.input-wraper-comment {
  margin-bottom: 16px;
}

.form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;

  margin-bottom: 4px;
}

.form-input-wraper {
  position: relative;
}

.style-input-wraper {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding: 11px 0;
  padding-left: 34px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
}

.style-input-wraper:focus {
  border: 1px solid #4d5ae5;
}

.input-wraper-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.style-input-wraper:focus + .input-wraper-icon {
  fill: #4d5ae5;
}

.form-comment {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment:focus {
  border-color: #4d5ae5;
}

.form-label-checkbox {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  align-items: center;
}

.form-checkbox-icon {
  /* opacity: 0; */
  fill: #fff;
  width: 16px;
}

.form-privacy-checkbox:checked + .form-label-checkbox .custom-checkbox-wraper {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.checkbox-wraper {
  /* display: flex; */
  margin-bottom: 24px;
  /* display: inline-block; */
  /* align-items: center; */
}

.custom-checkbox-wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}

.checkbox-text {
  /* display: inline-block;
  align-items: center; */
  display: inline-block;
}

.link-privacy-policy {
  /* display: inline; */
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.button-submit {
  display: block;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15); */
  background-color: #4d5ae5;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}

.button-submit:hover {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    /* padding: 24px; */
    padding: 72px 24px 24px 24px;
  }
  
    
  
}

@media screen and (min-width: 1158px) {
  .modal {
    width: 408px;
    min-height: 584px;
    /* padding: 24px; */
    padding: 72px 24px 24px 24px;
  }

.style-input-wraper {  padding-left: 38px;
}
/* #endregion modal window */
